{
  "ConnectionStrings": {
    "DefaultConnection": "Server=ip;DataBase=livros_db;Uid=user;Pwd=pass"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
